﻿
@model Models.CategorieVM

@{
	ViewData["Title"] = "Update";
}
<link rel="stylesheet" href="~/css/form.css">
@if(Model != null)
{
<form asp-controller="Home" asp-action="Update" method="post">
		<input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
	<div class="container">
		<div class="box1">
			Categorie : <input class="name" value="@Model.Name" asp-for="@Model.Name">
		</div>

		<div class="box2">
			<label>Description :</label>  <textarea name="description"  class="desc" id="" value ="@Model.Description" cols="30" rows="10" asp-for="@Model.Description"></textarea>
		</div>

		<div class="box3">
			Image : <input type="text" value="@Model.Image" asp-for="@Model.Image">
		</div>


		<input class="button" type="submit" value="Save" />
	</div>
</form>
}
@if(Model is null)
{
	<div>Model is null</div>
}